laplace/build/
laplace/post/
laplace/mesh/

diffusion/build/
diffusion/post/
diffusion/mesh/

convection-diffusion/build/
convection-diffusion/post/
convection-diffusion/mesh/

simple/build/
simple/post/
simple/mesh/

euler/build/
euler/post/
euler/mesh/
